.section--hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.section__title--hobbies {
  margin: 32px 0 32px;
  font-family: Raleway;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
  justify-content: center;
}

.card--hobby {
  background-color: #ffffff;
  width: 156px;
  height: 118px;
}

.card__image {
  margin-top: 38px;
  margin-left: 16px;
}

.card__text {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 8px;
  margin-left: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section--hobbies {
    margin-bottom: 0;
    padding: 32px;
    gap: 32px;
  }

  .section__title--hobbies {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section--hobbies {
    margin-bottom: 0;
    padding: 32px;
    gap: 32px;
    width: 35%;
  }
  .section__title--hobbies {
    margin: 0;
    font-size: 32px;
    line-height: 37.57px;
  }
}
